.component-ctr {
    display: grid;
    justify-content: center;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 40px;
}

.about-section {
    margin-bottom: 40px;
}

h1 {
    font-weight: 500;
}

p{
    color: var(--primary-color);
}